/*****************************************
Table Of Contents:

01. General Styles
02. Preloader
03. Navigation
04. Header
05. Intro
06. Description
07. Services
08. Details 1
09. Details 2
10. Testimonials
11. Call Me
12. Projects
13. Project Lightboxes
14. Team
15. About
16. Contact
17. Footer
18. Copyright
19. Back To Top Button
20. Extra Pages
21. Media Queries
******************************************/

/*****************************************
Colors:

- Backgrounds - light gray #fbfbfb
- Background - dark blue #153e52
- Backgrounds navbar, footer - dark gray #113448
- Buttons, bullets, icons - green #14bf98
- Headings text - black #484a46
- Body text - gray #787976
- Body text - light gray #dfe5ec
******************************************/


/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	background-color: #113448;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
	transition: all 0.2s;
}

.navbar-custom .navbar-brand {
	font-size: 0;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 7.0625rem;
	height: 4rem;
	-webkit-backface-visibility: hidden;
}

.navbar-custom .navbar-brand.logo-text {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	font: 700 2.25rem/1.5rem "Montserrat", sans-serif;
	color: #fff;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.625rem 0.75rem 0.625rem 0.75rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #14bf98;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus  */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #113448;
}

.navbar-custom .dropdown-item {
	color: #fff;
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color: #113448;
}

.navbar-custom .dropdown-item .item-text {
	font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
}

.navbar-custom .dropdown-item:hover .item-text {
	color: #14bf98;
}

.navbar-custom .dropdown-items-divide-hr {
	width: 100%;
	height: 1px;
	margin: 0.75rem auto 0.75rem auto;
	border: none;
	background-color: #b5bcc4;
	opacity: 0.2;
}
/* end of dropdown menu */

.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #fff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


/*********************/
/*    04. Header     */
/*********************/
.header {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/fondo.jpg') center center no-repeat;
	background-size: cover;
}

.header .header-content {
	padding-top: 8rem;
	padding-bottom: 2.125rem;
	text-align: justify;
}

.header .text-container {
	margin-bottom: 3rem;
}

.header h1 {
	margin-bottom: 0.5rem;
	color: #fff;
}

.header .p-large {
	margin-bottom: 2rem;
	color: #dfe5ec;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}


/***************************/
/*     06. Description     */
/***************************/
.cards-1 {
	padding-top: 3rem;
	padding-bottom: 2.875rem;
}

.cards-1 .card {
	margin-bottom: 2.5rem;
	border: none;
	text-align: center;
}

.cards-1 .fa-stack {
	width: 6rem;
	height: 6rem;
	margin-right: auto;
	margin-bottom: 1rem;
	margin-left: auto;
	line-height: 6rem;
	text-align: left;
}

.cards-1 .fa-stack .hexagon {
	position: absolute;
	width: 6rem;
	height: 6rem;
	background: url('../images/hexagon-green.svg') center center no-repeat;
	background-size: 6rem 6rem;
}

.cards-1 .fa-stack-1x {
	color: #fff;
	font-size: 2rem;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	margin-bottom: 0.625rem;
}



/********************/
/*     14. Team     */
/********************/
.basic-2 {
	padding-top: 6.375rem;
	padding-bottom: 3.375rem;
	background-color: #fbfbfb;
	text-align: center;
}

.basic-2 h2 {
	margin-bottom: 0.75rem;
}

.basic-2 .team-member {
	display: inline-block;
	max-width: 13rem;
	margin-right: 1.5rem;
	margin-bottom: 3.5rem;
	margin-left: 1.5rem;
}

/* Hover Animation */
.basic-2 .image-wrapper {
	overflow: hidden;
	margin-bottom: 1.5rem;
}

.basic-2 .image-wrapper img {
	margin: 0;
	transition: all 0.3s;
}

.basic-2 .image-wrapper:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.basic-2 .team-member .p-large {
	margin-bottom: 0.25rem;
}

.basic-2 .team-member .job-title {
	margin-bottom: 0.75rem;
	color: #484a46;
	font: 700 1rem/1.375rem "Montserrat", sans-serif;
}

.basic-2 .fa-stack {
	width: 1.75rem;
	height: 1.75rem;
	margin-right: 0.125rem;
	margin-left: 0.125rem;
}

.basic-2 .fa-stack .hexagon {
	position: absolute;
	left: 0;
	width: 1.75rem;
	height: 1.75rem;
	background: url('../images/hexagon-green.svg') center center no-repeat;
	background-size: 1.75rem 1.75rem;
	transition: all 0.2s ease;
}

.basic-2 .fa-stack:hover .hexagon {
	background: url('../images/hexagon-white.svg') center center no-repeat;
	background-size: 1.75rem 1.75rem;
}

.basic-2 .fa-stack-1x {
	font-size: 0.6875rem;
	line-height: 1.75rem;
	color: #fff;
	transition: all 0.2s ease;
}

.basic-2 .fa-stack:hover .fa-stack-1x {
	color: #14bf98;
}


/*********************/
/*     15. About     */
/*********************/
.counter {
	padding-top: 6.875rem;
	padding-bottom: 5.25rem;
}

.counter .image-container {
	margin-bottom: 3rem;
}

.counter .image-container img {
	border-radius: 0.25rem;
}

.counter .section-title {
	margin-bottom: 0.5rem;
}

.counter h2 {
	margin-bottom: 1.375rem;
}

.counter .list-unstyled {
	margin-bottom: 1.5rem;
}

.counter .list-unstyled .fas {
	color: #14bf98;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.counter .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.counter #counter {
	text-align: center;
}

.counter #counter .cell {
	display: inline-block;
	width: 9.5rem;
	margin-bottom: 0.75rem;
}

.counter #counter .counter-value {
	display: inline-block;
	margin-bottom: 0.125rem;
	color: #14bf98;
	font: 700 2.875rem/3.25rem "Montserrat", sans-serif;
	vertical-align: middle;
}

.counter #counter .counter-info {
	display: inline-block;
	margin-left: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	vertical-align: middle;
}


/**********************/
/*     17. Footer     */
/**********************/
.footer {
	padding-top: 5rem;
	background-color: #113448;
}

.footer .text-container {
	margin-bottom: 2.25rem;
}

.footer h4 {
	margin-bottom: 0.75rem;
	color: #fff;
}

.footer p,
.footer ul {
	font-size: 0.875rem;
	line-height: 1.375rem;
}


/*************************/
/*     18. Copyright     */
/*************************/
.copyright {
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	background-color: #113448;
	text-align: center;
}

.copyright p,
.copyright a {
	color: #dfe5ec;
	text-decoration: none;
}


/**********************************/
/*     19. Back To Top Button     */
/**********************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #14bf98 url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #13aa87; 
}


/***************************/
/*     20. Extra Pages     */
/***************************/
.ex-header {
	padding-top: 8rem;
	padding-bottom: 5rem;
	background-color: #153e52;
	text-align: center;
}

.ex-header h1 {
	color: #fff;
}

.ex-basic-1 {
	padding-top: 2rem;
	padding-bottom: 0.875rem;
	background-color: #fbfbfb;
}

.ex-basic-1 .breadcrumbs {
	margin-bottom: 1rem;
}

.ex-basic-1 .breadcrumbs .fa {
	margin-right: 0.5rem;
	margin-left: 0.625rem;
}

.ex-basic-2 {
	padding-top: 4.75rem;
	padding-bottom: 4rem;
}

.ex-basic-2 h3 {
	margin-bottom: 1rem;
}

.ex-basic-2 .text-container {
	margin-bottom: 3.625rem;
}

.ex-basic-2 .text-container.last {
	margin-bottom: 0;
}

.ex-basic-2 .list-unstyled .fas {
	color: #14bf98;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.ex-basic-2 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.ex-basic-2 .form-container {
	margin-top: 2.5rem;
}

.ex-basic-2 .btn-outline-reg {
	margin-top: 1.75rem;
}


/*****************************/
/*     21. Media Queries     */
/*****************************/	
/* Min-width width 768px */
@media (min-width: 768px) {
	
	/* General Styles */
	.p-heading {
		width: 85%;
		margin-right: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
        background: transparent;
	}
	
	.navbar-custom .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
	}
	
	.navbar-custom .nav-item .nav-link:hover,
	.navbar-custom .nav-item .nav-link.active {
		color: #14bf98;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.375rem 1.5rem 0.375rem 2rem;
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
		background-color: #113448;
	}

	.navbar-custom.top-nav-collapse .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link {
		color: #fff;
	}
	
	.navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
	.navbar-custom.top-nav-collapse .nav-item .nav-link.active {
		color: #14bf98;
	}

	.navbar-custom .dropdown-menu {
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-top: 0.75rem solid rgba(0, 0, 0, 0);
		border-radius: 0.25rem;
		box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.03);
	}
	
	.navbar-custom.top-nav-collapse .dropdown-menu {
		border-top: 0.125rem solid rgba(0, 0, 0, 0);
	}

	.navbar-custom .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.navbar-custom .dropdown-items-divide-hr {
		width: 84%;
	}
	/* end of navigation */


	/* Header */
	.header .header-content {
		padding-top: 13rem;
		padding-bottom: 7.5rem;
	}

	.header h1 {
		font: 700 3.5rem/4rem "Montserrat", sans-serif;
	}
	/* end of header */


	/* Details 1 */
	.accordion .accordion-container {
		max-width: 70%;
	}
	/* end of details 1 */


	/* Details 2 */
	.tabs .tabs-container {
		max-width: 70%;
	}

	.tabs #tab-2 .list-unstyled {
		display: inline-block;
		width: 45%;
		margin-top: 0;
	}
	
	.tabs #tab-2 .list-unstyled.first {
		margin-right: 2rem;
	}
	/* end of details 2 */


	/* Testimonials */
	.slider .swiper-button-prev {
		left: 1rem;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	
	.slider .swiper-button-next {
		right: 1rem;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	/* end of testimonials */


	/* Projects */
	.filter .element-item { 
		width: 25%; 
	}
	
	.filter .element-item .element-item-overlay { 
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.filter .element-item:hover .element-item-overlay {
		opacity: 1;
	}
	/* end of projects */


	/* About */
	.counter #counter {
		text-align: left;
	}

	.counter #counter .cell {
	}
	/* end of about */


	/* Contact */
	.form-2 .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}

	.form-2 .list-unstyled .address {
		display: block;
	}
	/* end of contact */


	/* Extra Pages */
	.ex-header {
		padding-top: 11rem;
		padding-bottom: 9rem;
	}

	.ex-basic-2 .form-container {
		margin-top: 0.5rem;
	}
	/* end of extra pages */
}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.p-heading {
		width: 65%;
	}
	/* end of general styles */


	/* Navigation */
	.navbar-custom .social-icons {
		display: block;
		margin-left: 0.5rem;
	}

	.navbar-custom .fa-stack {
		margin-left: 0.375rem;
		font-size: 0.8125rem;
	}

	.navbar-custom .fa-stack .hexagon {
		width: 1.625rem;
		height: 1.625rem;
		position: absolute;
		background: url('../images/hexagon-green.svg') center center no-repeat;
		background-size: 1.625rem 1.625rem;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .hexagon {
		background: url('../images/hexagon-white.svg') center center no-repeat;
		background-size: 1.625rem 1.625rem;
	}
	
	.navbar-custom .fa-stack-1x {
		font-size: 0.6875rem;
		line-height: 1.625rem;
		color: #fff;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #14bf98;
	}
	/* end of navigation */


	/* Header */
	.header .header-content {
		padding-top: 14rem;
		padding-bottom: 15rem;
	}

	.header .text-container {
		margin-top: 6.5rem;
	}
	/* end of header */


	/* Intro */
	.basic-1 {
		padding-top: 6.875rem;
	}

	.basic-1 .text-container {
		margin-bottom: 0;
	}
	/* end of intro */


	/* Description */
	.cards-1 .card {
		display: inline-block;
		max-width: 17.5rem;
		text-align: left;
		vertical-align: top;
	}
	
	.cards-1 div.card:nth-child(3n+2) {
		margin-right: 2.5rem;
		margin-left: 2.5rem;
	}
	/* end of description */


	/* Services */
	.cards-2 .card {
		max-width: 18.25rem;
		display: inline-block;
		vertical-align: top;
	}

	.cards-2 .col-lg-12 div.card:nth-child(3n+2) {
		margin-right: 1.25rem;
		margin-left: 1.25rem;
	}
	/* end of services */


	/* Details 1 */
	.accordion {
		height: 34.625rem;
	}
	
	.accordion .area-1 {
		width: 50%;
		height: 100%;
		display: inline-block;
	}
	
	.accordion .area-2 {
		width: 50%;
		height: 100%;
		display: inline-block;
		vertical-align: top;
	}
	
	.accordion .accordion-container {
		max-width: 88%;
		margin-left: 2rem;
		padding-bottom: 0;
	}

	.accordion .accordion-title {
		width: 85%;
	}
	/* end of details 1 */


	/* Details 2 */
	.tabs {
		height: 36.125rem;
	}

	.tabs .area-1 {
		width: 50%;
		height: 100%;
		display: inline-block;
		vertical-align: top;
	}

	.tabs .area-2 {
		width: 50%;
		height: 100%;
		display: inline-block;
	}

	.tabs .tabs-container {
		max-width: 88%;
		margin-left: 2rem;
		padding-top: 6.75rem;
		padding-bottom: 0;
	}

	.tabs .nav-tabs {
		justify-content: flex-start;
	}
	/* end of details 2 */


	/* Call Me */
	.form-1 {
		padding-top: 7rem;	
	}

	.form-1 .text-container {
		margin-bottom: 0;
	}
	/* end of call me */


	/* Project Lightboxes */
	.lightbox-basic img {
		margin-bottom: 0;
	}
	
	.lightbox-basic h3 {
		margin-top: 0.375rem;
	}

	.lightbox-basic .btn-solid-reg,
	.lightbox-basic .btn-outline-reg {
		margin-bottom: 0;
	}
	/* end of project lightboxes */


	/* Team */
	.basic-2 .team-member {
		width: 12.75rem;
		max-width: 100%;
		margin-right: 0.75rem;
		margin-left: 0.75rem;
	}
	/* end of team */


	/* About */
	.counter .image-container {
		margin-bottom: 0;
	}
	/* end of about */


	/* Contact */
	.form-2 {
		padding-top: 6.875rem;
	}

	.form-2 .text-container {
		margin-bottom: 0;
	}
	/* end of contact */


	/* Extra Pages */
	.ex-header h1 {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.ex-basic-2 {
		padding-bottom: 5rem;
	}
	/* end of extra pages */
}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.p-heading {
		width: 55%;
	}
	/* end of general styles */


	/* Navigation */
	.navbar-custom {
		padding-right: 5rem;
		padding-left: 5rem;
	}

	.navbar-custom.top-nav-collapse {
		padding-right: 5rem;
		padding-left: 5rem;
	}
	/* end of navigation */

	
	/* Header */
	.header .header-content {
		padding-top: 14.75rem;
		padding-bottom: 17.5rem;
	}
	/* end of header */


	/* Intro */
	.basic-1 .text-container {
		margin-top: 1.875rem;
		margin-right: 3rem;
	}
	/* end of intro */


	/* Description */
	.cards-1 .card {
		max-width: 21rem;
	}

	.cards-1 div.card:nth-child(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of description */


	/* Services */
	.cards-2 .card {
		max-width: 20.875rem;
	}

	.cards-2 .card-body {
		padding: 2.25rem 2.5rem 2.125rem 2.5rem;
	}

	.cards-2 .col-lg-12 div.card:nth-child(3n+2) {
		margin-right: 3rem;
		margin-left: 3rem;
	}
	/* end of services */


	/* Details 1 */
	.accordion .accordion-container {
		max-width: 28rem;
		margin-left: 5rem;
	}
	/* end of details 1 */


	/* Details 2 */
	.tabs .tabs-container {
		max-width: 28rem;
		margin-right: 5rem;
		margin-left: auto;
	}

	.tabs #tab-2 .media-wrapper.first {
		margin-right: 2rem;
	}
	/* end of details 2 */


	/* Call Me */
	.form-1 .text-container {
		margin-top: 1.375rem;
		margin-right: 1.75rem;
		margin-left: 3rem
	}

	.form-1 form {
		margin-left: 1.75rem;
		margin-right: 3rem
	}
	/* end of call me */


	/* Projects */
	.filter .element-item {
		width: 17.3125rem; /* to eliminate grid overflow problem on hard refresh */
		height: 16.875rem;
	}

	.filter .element-item .element-item-overlay span { 
		top: 45%;
	}
	/* end of projects */


	/* Team */
	.basic-2 .team-member {
		width: 14.375rem;
		margin-right: 1.375rem;
		margin-left: 1.375rem;
	}
	/* end of team */


	/* About */
	.counter {
		padding-bottom: 6.125rem;
	}

	.counter .image-container {
		margin-right: 1.5rem;
	}

	.counter .text-container {
		margin-top: 0.375rem;
		margin-right: 2.5rem;
		margin-left: 2rem;
	}
	/* end of about */
	
	
	/* Contact */
	.form-2 .text-container {
		margin-top: 0.875rem;
		margin-right: 1.5rem;
	}

	.form-2 form {
		margin-left: 1.5rem;
	}
	/* end of contact */


	/* Footer */
	.footer .text-container.about {
		margin-right: 5rem;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-header h1 {
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	.ex-basic-2 .form-container {
		margin-left: 1.75rem;
	}
	/* end of extra pages */
}
/* end of min-width width 1200px */


/* Min-width width 1600px */
@media (min-width: 1600px) {
	
	/* Navigation */
	.navbar-custom {
		padding-right: 12rem;
		padding-left: 12rem;
	}

	.navbar-custom.top-nav-collapse {
		padding-right: 12rem;
		padding-left: 12rem;
	}
	/* end of navigation */
}
/* end of min-width width 1200px */
