.tecno {
    display: flex;
    flex-wrap: wrap;
  }
  
  .acordeon > .tecno {
    flex: 1 1 100%;
    transition: flex 500ms;
    height: 250px;
    margin-bottom: 0;
  }
  
  .acordeon > .tecno:hover {
    background-color: #ffffff;
  }
  
  .tecno-img-overlay {
    color: white;
    background-color: rgba(0, 0, 0, 0.801);
    opacity: 1;
    transition: opacity 200ms;
  }
  
  .tecno:hover .tecno-img-top {
    filter: grayscale(0);
  }
  
  .tecno:hover .tecno-img-overlay {
    opacity: 0;
  }
  
  .tecno-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px) grayscale(0);
  }
  
  .tecno-title {
      font-size: x-large;
      text-shadow: black;
  }

  .tecno-text {
    color: white;
    text-shadow: black;
  }

  @media (min-width: 576px) {
    .acordeon > .tecno:hover {
      flex-grow: 5;
    }
    .acordeon > .tecno {
      flex-basis: 35%;
    }
  }
  
  @media (min-width: 992px) {
    .acordeon > .tecno:hover {
      flex-grow: 1.2;
    }
    .acordeon > .tecno {
      flex-basis: 0%;
      height: 200px;
    }
  }